* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  color: #ffffff;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 3% auto 0% auto;
  width: 30rem;
  height: 70rem;
}

.game__picture {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.game__content {
  background-color: #283e50;
}

.game__title {
  padding: 1rem 0 0 0;
  font-family: 'Lobster';
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.game__description {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.5rem;
  padding: 1.5rem;
  margin: 0;
}

.game__buttons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;

}

.game__button--green {
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 0.1rem;
}

:hover.game__button--green {
  background-color: #1cbb96;
}

.game__button--blue {
  background-color: #0197f6;
  color: #ffffff;
  text-decoration: none;
}

:hover.game__button--blue {
  background-color: #0090e9;
}

.grid {
  display: grid;
  max-width: 80vmin;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.grid__button {
  width: 8vmin;
  height: 8vmin;
  border-radius: 0;
  background-color: #E0CCE0;
  cursor: pointer;
}

.grid__button:focus {
  background-color: #EFE5EF;
}

.grid__button:hover {
  background-color: #EFE5EF;
}
