* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  background-attachment: fixed;
  color: #ffffff;
}

.game {
  display: flex;
  flex-direction: column;
  margin: 3% 40% 0% 40%;
  width: 30rem;
  height: 70rem;
}

.game_picture {
  max-width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}

.game_content {
  background-color: #283e50;
}


.game_title {
  padding: 1rem 0 0 0;
  font-family: 'Lobster';
  text-align: center;
  font-size: 3rem;
  margin: 0;
}

.game_description {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.5rem;
  padding: 1.5rem;
  margin: 0;
}

.game_buttons {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.game_button_green {
  background-color: #1fcca4;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}
